{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>From App Contact</h1>
    <h2>Name: {{Name}}</h2>
    <h2>Expertise: {{Expertise}}</h2>
    {% if tk > 2500 %}
    <p>you can purchase</p>
    {% elif tk < 2500 %}
    <p>sorry not enough money to purchase</p>
    {% endif%}
    <img src="{% static 'images/ab.webp'%}" alt="">
</body>
</html>